/*!
 * Jetpack CRM
 * http://jetpackcrm.com
 */
#support-page {
  margin: 40px 10px 10px 10px;
  padding: 30px 40px 40px 40px;
}
#support-page i.icon.user.md {
  font-size: 30px;
  color: #808080;
}
#support-page .form-group {
  margin-bottom: 1.5rem;
}
#support-page label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#support-page a:focus {
  box-shadow: none;
}
#support-page #support-form {
  margin: 30px 0 10px 0;
  color: #505050;
}
#support-page #support-form textarea {
  height: 200px;
}
#support-page .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#support-page .btn {
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
}
#support-page .btn.btn-primary {
  background-color: #079E08;
}
#support-page .btn.btn-info {
  background-color: #2185D0;
}
#support-page .goto-kb {
  margin: 30px 0 30px 0;
}
#support-page .btn-support-forum {
  margin-top: 50px;
}
#support-page .btn-support-forum .ui.button {
  background-color: #079E08;
  color: #fff;
  font-size: 17px;
  padding: 20px 20px;
}
#support-page .jetpack-crm-contact-text {
  font-size: 16px;
  color: #505050;
  line-height: 1.5;
}
#support-page .jetpack-crm-contact-text p {
  margin: 10px 0 10px 0;
}
#support-page h1 {
  font-size: 24px;
}
#support-page h1 img {
  vertical-align: middle;
  margin-left: 5px;
}
#support-page h2 {
  margin: 40px 0 15px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #202020;
}
#support-page .license-status {
  margin: 10px 0 40px 0;
  color: #404040;
}
#support-page .license-status .label {
  margin-right: 5px;
}
#support-page .license-status b, #support-page .license-status span {
  vertical-align: middle;
}
#support-page .license-status .license {
  font-size: 12px;
  margin-right: 10px;
  padding: 5px;
  background-color: #f5f5f5;
  color: #505050;
}
#support-page .license-status .invalid-license {
  font-size: 13px;
  margin-right: 5px;
}
#support-page .license-status .expires {
  font-size: 12px;
  margin-right: 5px;
  color: #909090;
}
#support-page .license-status .account {
  float: left;
}
#support-page .data-shared {
  padding: 10px;
  margin: 10px 0 20px 0;
  background: #f5f5f5;
}
