/*!
 * Jetpack CRM
 * https://jetpackcrm.com
 */
.ui.dropdown .menu .left.menu {
  right: auto !important;
  left: 100%;
  margin: 0 0 0 0 !important;
  border-radius: 0.28571429rem !important;
}

.ui.simple.dropdown:hover > .menu > .item:hover > .left {
  right: auto !important;
}

.zbs-co-img {
  float: right;
}
.zbs-co-img img {
  border-radius: 50%;
  max-width: 30px;
  height: auto;
  margin-left: 5px;
}

#zbs-list-col-editor {
  margin-bottom: 46px;
  margin-top: 16px;
  margin-left: 1em;
}
#zbs-list-col-editor #zbs-column-manager-current-cols {
  min-height: 34px;
}
#zbs-list-col-editor #zbs-column-manager-current-cols .ui.basic.button {
  margin-top: 4px;
}
#zbs-list-col-editor #zbs-column-manager-available-cols {
  min-height: 34px;
}
#zbs-list-col-editor #zbs-column-manager-available-cols .ui.basic.button {
  margin-top: 4px;
}

.zbs-select-tag.ui.label {
  margin-left: 0.5em;
  margin-bottom: 0.4em;
}
.zbs-select-tag.ui.label .ui.checkbox {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0 !important;
}
.zbs-select-tag.ui.label .ui.checkbox label {
  margin-bottom: 0;
}

.zbs-select-tag.ui.label.blue .ui.checkbox label {
  color: #fff;
}

.zero-bs-crm_page_manage-companies-crm .zbs-co-img img {
  width: 30px;
  height: auto;
  float: right;
  margin-left: 2px;
  border-radius: 50%;
}

.jpcrm-listview-table .jpcrm_name_and_avatar {
  display: flex;
  align-items: center;
}
.jpcrm-listview-table .jpcrm_name_and_avatar img {
  max-width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}
.jpcrm-listview-table .jpcrm_name_and_avatar div {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.jpcrm-listview-table .jpcrm_name_and_avatar .icon {
  font-size: 2em;
  padding-top: 0.14285714em;
}

#zbs-list-warnings-wrap .ui.message {
  max-width: 80%;
  margin-bottom: 5em;
  margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
}

.zbs-column-manager-droptarget {
  width: 90px;
  height: 26px !important;
  margin-top: 4px !important;
  vertical-align: top;
}

.zbs-column-manager-connected {
  min-height: 2em;
}

/*
		INLINE Editing
*/
.jpcrm-listview-table td.zbs-inline-edit:hover {
  border-bottom: 2px dashed #8bb7de;
  cursor: pointer;
}

.jpcrm-listview-table td.zbs-inline-editing {
  border-bottom: 2px dashed #ffa500;
  text-align: center;
  padding-top: 0.6em;
}

.jpcrm-listview-table-container .jpcrm-pagination-container {
  text-align: left;
  margin-bottom: 10px;
}

.jpcrm-listview-table-container .jpcrm-listview-table a.name {
  font-weight: 700;
}
